{% extends 'base.html' %}

{% block head %}
<title>
    Statistics
</title>
{% endblock head %}


{% block body %}
<h1>Statistics</h1>

    <table>

        <thead>
        <tr>
            <td>Method</td>
            <td>Count</td>
        </tr>
        </thead>

        <tbody>
            <tr>
                <td>GET</td>
                <td>{{ get_counter }}</td>
            </tr>
            <tr>
                <td>POST</td>
                <td>{{ post_counter }}</td>
            </tr>
            <tr>
                <td>PUT</td>
                <td>{{ put_counter }}</td>
            </tr>
            <tr>
                <td>DELETE</td>
                <td>{{ delete_counter }}</td>
            </tr>
        </tbody>

    </table>

{% endblock body %}
